*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
p {
    margin: 0;
}

:root {
    --BG-COLOR: hsl(212, 45%, 89%);
    --CARD-BG-COLOR: white;
    --H1-COLOR: hsl(218, 44%, 22%);
    --FONT-COLOR: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--BG-COLOR);
    height: 100lvh;
    display: flex;
    align-items: center;
}

.qr-card {
    background-color: var(--CARD-BG-COLOR);
    max-width: 19em;
    padding: 0.9rem;
    border-radius: 12px;
    margin: auto;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 12px;
}

h1 {
    color: var(--H1-COLOR);
    font-weight: 600;
    font-size: 1.3em;
    margin: 0.9em 0 0.8em 0;
}

p {
    color: var(--FONT-COLOR);
    font-weight: 400;
    font-size: 0.95em;
    padding-bottom: 1.6em;
}

h1,
p {
    padding-inline: 10px;
}